html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: rgb(15 23 42);
}

div {
  padding: 1rem;
}

pre.shiki {
  margin: 0;
  padding: 2rem;
  border-radius: 0.5rem;
  overflow-x: scroll;
}

pre.shiki code span.line {
  font-family: monospace;
  font-size: 1rem;
  line-height: 1.75;
}
