@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply bg-gradient-to-b from-gray-700 to-gray-600 m-0 p-0;
}

* {
  scroll-behavior: smooth;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

main {
  @apply max-w-5xl mx-auto lg:py-12 py-6 px-4 space-y-12 overflow-x-scroll;
}

.shiki {
  @apply m-0 py-7 rounded-md shadow-lg overflow-x-scroll;
}

.shiki code {
  @apply grid;
}

.shiki .line {
  @apply px-8 text-base inline-flex w-full leading-7 relative;
}

.shiki .line[data-line]:before {
  @apply content-[attr(data-line)] text-slate-500 opacity-40 -ml-2 mr-5 inline-flex justify-end min-w-[2ch];
}

.shiki .line[data-line][data-add-line]:before {
  @apply content-["+"];
}

.shiki .line[data-line][data-remove-line]:before {
  @apply content-["-"];
}

.shiki .line[data-add-line]:after {
  @apply bg-green-700 opacity-20 content-[""] inset-0 absolute
    pointer-events-none w-full;
}

.shiki .line[data-remove-line]:after {
  @apply bg-red-700 opacity-20 content-[""] inset-0 absolute pointer-events-none w-full;
}
